/* @import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lora:ital,wght@1,400;1,700&family=Ubuntu&display=swap"); */

  @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* GREAT VIBES */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* 
font-family: 'Lora', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.bordes {
  border-radius: 1rem;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body,
body * {
  font-family: 'Lora', serif;
}


h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  padding-left: 3rem;
  color: black;
}

h3 {
  font-size: 2rem;
  color: #F2954B;
}

.bendicion{ 
  font-size: 1.3rem;
  color: black;
  font-weight: 100;
  padding-top: 5rem;
}

.mis-xv{
  font-size: 1.5rem;
  padding-left: 2rem;
  font-weight: 500;
}

.yara-bendicion{
  font-weight: 700;
}

.cronometro{
  background-color: lightblue;
  height: 10rem;
  align-items: center;
}

.centrado {
  text-align: center;
}

.espaciado {
  padding: 1.5rem;
}

.espaciado-bottom {
  padding-bottom: 1.5rem;
}

main.local {
  background: url(/images/bread-bottom.jpg) no-repeat center/cover;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 2rem;
}

main.contacto {
  background: url(/images/bread-bottom.jpg) no-repeat center/cover;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 2rem;
}

main.acerca {
  background: url(/images/bread-bottom.jpg) no-repeat center/cover;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 2rem;
}

section.acerca {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
  border-radius: 1rem;
}

section.acerca .acerca_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  padding: 1rem;
}

@media only screen and (max-width: 1024px) {
  section.acerca {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 1rem;
    text-align: justify;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

.card {
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_main h3 {
  font-size: 1.5rem;
  margin-top: .25rem;
}

.card_main p {
  text-align: center;
  max-width: 300px;
  padding: 0.5em;
}

.btn {
  padding: 0.5em 2em;
  margin-bottom: 1em;
  border-radius: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.btn_color:hover {
  background: #F2954B;
  color: white;
  font-weight: bold;
}

section.contacto {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
  padding: 2em;
  margin: 0 auto;
  border-radius: 1em;
}

section.contacto .contacto_txt {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.5rem;
  text-align: justify;
}

section.contacto .contacto_txt a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.underline {
  text-decoration: underline;
}

form.contacto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.5rem;
}

form.contacto .input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.25rem;
}

form.contacto .input_group input,
form.contacto .input_group textarea,
form.contacto .input_group select {
  resize: none;
  border-radius: 5px;
}

form.contacto .input_group button {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background-color: #9c6d4b;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}

form.contacto .input_group textarea {
  min-height: 100px;
}

@media (max-width: 550px) {
  section.contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer {
  /* background-color: #D67D34; */
  background-color: #6CDBDD; 
  color: #324B4B;
}

footer address {
  text-align: end;
}

footer .footer_logo {
  text-align: center;
  font-size: clamp(1.2rem, 2.2vw, 1.5rem);
  padding: 0.5rem;
  font-weight: bold;
}

footer .footer_logo img {
  width: 70px;
}

footer .redes_horarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: clamp(0.7rem, 1.2vw, 1.5rem);
  padding-bottom: 1rem;
}

footer .redes_horarios .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

footer .copyright {
  opacity: 0.70;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
}

header .logo {
  font-size: 4rem;
}

header .logo img {
  width: 75px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

header img.logo3 {
  width: 65px;
  height: 70px;
}

header .nav_btn {
  display: none;
}

nav {
  /* background-color: #F2954B; */
  background-color: #6CDBDD;
  width: 100%;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.15rem;
  gap: 1.25rem;
  padding: 1rem;
  /* color: white; */
  color: #324B4B;
}

nav .menu li {
  position: relative;
}

nav .submenu {
  position: absolute;
  left: -1em;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  /* background-color: #F2954B; */
  background-color: #6CDBDD;
  z-index: 1;
  padding: 1em;
  padding-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.5rem;
  display: none;
}

nav .menu > li:hover .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav a:hover {
  -webkit-text-decoration: 1px underline white;
          text-decoration: 1px underline white;
  text-underline-offset: 5px;
}

@media (max-width: 550px) {
  header {
    all: unset;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
    padding-bottom: 0.5rem;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  header img.logo3 {
    all: unset;
    width: 50px;
    height: 50px;
  }
  header .logo span {
    font-size: 2.5rem;
    border-radius: 1rem;
  }
  header .nav_btn {
    fill: black;
    display: block;
    cursor: pointer;
    width: 50px;
  }
  header .nav_btn-close {
    float: right;
    margin: 2rem 2.1em;
  }
  header nav {
    all: unset;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
    width: 70%;
    /* background-color: #F2954B; */
    background-color: #6CDBDD;
    border-radius: .5rem;
    display: none;
  }
  header nav.nav-open {
    display: block;
  }
  header nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 2rem;
    margin-top: 20vh;
    margin-left: 2em;
    color: white;
  }
  header nav .menu li {
    opacity: 0.70;
    letter-spacing: 0.1rem;
  }
  header nav .menu li.active {
    font-weight: bold;
    opacity: 1;
  }
  header nav .menu li a:hover {
    -webkit-text-decoration: 1px underline white;
            text-decoration: 1px underline white;
    text-underline-offset: 5px;
  }
  header nav .menu li ul.submenu {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 0.5rem;
    padding-top: 0.25rem;
    padding-left: 1rem;
  }
}

.hero {
  position: relative;
  height: calc(100vh - 137px);
}

.hero_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: white;
  background-image: url(/images/fondo-una-flor.png);
  background-repeat: no-repeat;
}

.hero_content h1 {
  font-size: clamp(3rem, 5vw, 6rem);
}

.hero video {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 550px) {
  .hero {
    position: relative;
    height: calc(100vh - 115px);
  }
}

section.local {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 auto;
}

section.local .local_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
}

section.local .local_txt a {
  color: blueviolet;
  font-weight: bold;
}

section.local .local_txt a:hover {
  text-decoration: underline;
}

section.local img {
  padding-bottom: 1rem;
}

.mapa {
  max-width: 100%;
  height: 100%;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media only screen and (max-width: 1024px) {
  section.local {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    margin: 0 auto;
  }
  .mapa {
    max-width: 100%;
    height: 400px;
  }
}

html {
  scroll-behavior: smooth;
}

.subir {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: #6cdbdd;
  color: white;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.container_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4rem;
}

.container_productos .card_productos {
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 400px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.container_productos .card_productos .card_productos .card_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_productos .card_productos .card_productos .card_main .card_productos .card_main h3 {
  font-size: 1.5rem;
  margin-top: .25rem;
}
/*# sourceMappingURL=main.css.map */


/* ========================================== */

/* CRONOMETRO */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

/* Global CSS Reset */
* {
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Red Hat Text", sans-serif;
}

img {
	display: block;
	max-width: 100%;
}

/* Custom CSS Variables */
:root {
	/* Colors */
	--Grayish_blue: hsl(237, 18%, 59%);
	--Soft_red: hsl(345, 95%, 68%);
	--White: hsl(0, 0%, 100%);
	--Dark_desaturated_blue: hsl(236, 21%, 26%);
	--Very_dark_blue: hsl(235, 16%, 14%);
	--Very_dark_blac_blue: hsl(234, 17%, 12%);

	/* font size */
	--h-text: 1.1rem;
	--p-text: 1.8rem;
	--s-text: 0.5rem;

	/* custom-shape */
	--circle-width: 0.25em;
	--circle-height: 0.45em;
}

/* Font Styles */
.heading {
	font-size: var(--h-text);
	color: var(--White);
	letter-spacing: 0.5ch;
	text-align: center;
	margin-bottom: 3rem;
}

.primary {
	font-size: var(--p-text);
	color: var(--Soft_red);
	text-align: center;
}

.sub-heading {
	font-size: var(--s-text);
	color: var(--Grayish_blue);
	text-align: center;
	letter-spacing: 0.5ch;
	margin-top: 1em;
}

/* General CSS */

main {
	min-height: 100%;
	display: grid;
	justify-content: center;
}

.background {
	background-color: var(--Very_dark_blue);
	background-image: url(https://i.postimg.cc/rmwYwjnp/bg-stars.png),
		url(https://i.postimg.cc/hGg5HcVT/pattern-hills.png);
	background-position: top, bottom;
	background-repeat: repeat-x;
	background-size: 100% 75%, 100% 25%;
	position: relative;
	z-index: 2;
}

.background::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 75%;
	background-color: #322338;
	filter: blur(100px);
	opacity: 0.35;
	z-index: -1;
}

.container {
	margin: 1em;
}

.center {
	align-self: flex-end;
}

.countdown-timer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

.timer-box {
	width: 4rem;
	padding: 0.5rem;
	text-align: center;
	background-color: var(--Dark_desaturated_blue);
	position: relative;
	border-radius: 0.25em;
}

.sheet {
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	top: 0;
	right: 0;
	background-color: var(--Very_dark_blue);
	opacity: 0.35;
}

.flip {
	transition: transform 1s;
	transform: translate(0%, 100%) scaleY(-1);
}

.circle-left {
	width: var(--circle-width);
	height: var(--circle-height);
	position: absolute;
	background-color: var(--Very_dark_blac_blue);
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
	top: 45%;
	left: 0;
}

.circle-right {
	width: var(--circle-width);
	height: var(--circle-height);
	position: absolute;
	background-color: var(--Very_dark_blac_blue);
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	top: 45%;
	right: 0;
}

.bottom {
	align-self: end;
	margin-bottom: 4em;
	display: flex;
	justify-content: center;
	gap: 2em;
}

.social-icon {
	cursor: pointer;
}

.social-icon:hover {
	filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(5054%)
		hue-rotate(297deg) brightness(99%) contrast(99%);
}

/* Media Queries for Responsive Design */
@media (min-width: 430px) {
	:root {
		--h-text: 1.25rem;
		--p-text: 2rem;
		--s-text: 0.5rem;

		--circle-width: 0.35em;
		--circle-height: 0.65em;
	}

	.timer-box {
		width: 5rem;
		padding: 0.75rem;
	}
}

@media (min-width: 550px) {
	:root {
		--p-text: 3rem;
		--s-text: 0.75rem;

		--circle-width: 0.4em;
		--circle-height: 0.7em;
	}

	.timer-box {
		width: 6rem;
		padding: 0.75rem;
	}
}

@media (min-width: 800px) {
	:root {
		--p-text: 4rem;
	}

	.timer-box {
		width: 8rem;
		padding: 1rem;
	}
}
